<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="fragments/head :: head"></th:block>

<!--    hadchi lizdt 3awd -->
    <script src="https://kit.fontawesome.com/4add81f750.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="../static/css/main_dashboard.css" th:href="@{/css/main_dashboard.css}">
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->

<!-- end loader -->
<!-- top -->
<!-- header -->
<header class="header-area">
    <div class="left">
        <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div class="right">
        <a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div class="container">
        <div class="row d_flex">
            <div class="col-sm-3 logo_sm">
                <div class="logo">
                    <a href="index.html"></a>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                <div class="navbar-area">
                    <nav class="site-navbar">
                        <ul>
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="action.html">take action</a></li>
                            <li><a href="index.html" class="logo_midle">covido</a></li>
                            <li><a href="news.html">news</a></li>
                            <li><a href="doctores.html">doctores</a></li>

                            <li><a href="contact.html">Contact </a></li>
                        </ul>
                        <button class="nav-toggler">
                            <span></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<div class="full_bg">
    <!-- header inner -->
    <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">
            <ol class="carousel-indicators ">
                <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                <li data-target="#banner1" data-slide-to="1" class="">02</li>
                <li data-target="#banner1" data-slide-to="2" class="active">03</li>
            </ol>
            <div class="carousel-inner">
                <!-- first slide -->
                <div class="carousel-item active">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1>Care early<br>Coronavirus</h1>
                                        <a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second slide -->
                <div class="carousel-item">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1>Care early<br>Coronavirus</h1>
                                        <a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- third slide -->
                <div class="carousel-item">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1>Care early<br>Coronavirus</h1>
                                        <a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- controls -->
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="cases">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Coronavirus Cases</h2>
                    <p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
                </div>
            </div>
        </div>

<!--        hna ghadi ndiro dak dashboard lwla -->
    <div class="container-fluid">
      <div class="row mb-1">
        <div class="col-sm">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm">
          <div id="root"></div>
        </div>
      </div>
    </div>

<!--        end main dashboard-->

        </div>
    </div>
</div>
<!-- end cases -->
<!-- doctors -->
<div class="doctors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>What doctors say..</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class=" col-md-6">
                <div id="ho_efcet" class="reader text_align_center">
                    <i><img th:src="@{/images/doctor1.png}" src="../static/images/doctor1.png" alt="#"/></i>
                    <h3>Dr.Golap den</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                    <span><img th:src="@{/images/do.png}" src="../static/images/do.png" alt="#"/></span>
                </div>
            </div>
            <div class=" col-md-6">
                <div id="ho_efcet" class="reader text_align_center">
                    <i><img th:src="@{/images/doctor2.png}" src="../static/images/doctor2.png" alt="#"/></i>
                    <h3>Dr.Golap den</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                    <span><img th:src="@{/images/do.png}" src="../static/images/do.png" alt="#"/></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cases -->
<!-- update -->
<div class="update">
    <div class="cevery_white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Get Every Update.... </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cevery_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="colof" class="form_subscri">
                        <input class="newsl" placeholder="Your Email" type="text" name="Email">
                        <button class="subsci_btn">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- update -->
<!--  footer -->
<th:block th:replace="fragments/footer :: footer"></th:block>
<!-- end footer -->
<!-- Javascript files-->

<!-- hadchi li zddt mn lakhor -->

<!-- Load dependencies. -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!--    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>-->
<!--    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/papaparse@5.1.1/papaparse.min.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin></script>

        <!-- Load custom scripts. -->
    <script src="../static/js/utils.js" th:src="@{/js/utils.js}"></script>
    <script src="../static/js/data.js" th:src="@{/js/data.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>


<!-- salina -->

<script src="../static/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:href="@{/js/bootstrap.bundle.min.js}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="../static/js/owl.carousel.min.js" th:href="@{/js/owl.carousel.min.js}"></script>
<script src="../static/js/custom.js" th:href="@{/js/custom.js}"></script>
</body>
</html>